/* [ work ] * [ work ] * [ work ] * [ work ] * [ work ] * [ work ] */

.swiper-container {
  padding-top: 70px;
}

.swiper-slide {
  overflow: hidden;
}

.hero-mock {
  top: 0;
  bottom: 0;
  left: 40px;
  right: -40px;
  opacity: 0;
  transition: all ease .75s .5s;
}

.swiper-slide-active .hero-mock {
  opacity: 1;
  left: 0;
  right: 0;
}

.slide-text h2 {
  font-size: 30px;
}

.slide-text .desc {
  font-size: 17px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 0;
  bottom: 0;
  height: auto;
}

.swiper-button-next {
  right: 0;
  justify-content: flex-end;
  width: 15%;
}

.swiper-button-prev {
  left: 0;
  justify-content: flex-start;
  width: 40px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
}

.swiper-button-next img,
.swiper-button-prev img {
  width: 14px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .5));
  opacity: 0;
}

.swiper-button-next:hover img,
.swiper-button-prev:hover img {
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #FF5B7A;
  border: 2px solid #000;
  opacity: .5;
  margin: 0 8px !important;
  transition: all ease .625s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  border: 2px solid #FF5B7A;
}


/* [ about ] * [ about ] * [ about ] * [ about ] * [ about ] * [ about ] */

.skill-name {
  padding-top: 14px;
}


/* [ contact ] * [ contact ] * [ contact ] * [ contact ] * [ contact ] */

#contactImageContainer {
  height: 500px;
  background: #000000;
}

#contactImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/home/contactImage.jpg) no-repeat 17%;
  background-size: cover;
  opacity: .8;
  transform: scale(1);
}

#contactTickers {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  margin: 0;
}

.marquee {
  overflow: hidden;
}


/* [ default is XS ] */


/* [ SM ] * [ mobile landscape ] * [ SM ] * [ mobile landscape ] * [ SM ] */

@media screen and (min-width: 576px) {}


/* [ MD ] * [ tablet portrait ] * [ MD ] * [ tablet portrait ] * [ MD ] */

@media screen and (min-width: 768px) {
  .slide-text h2 {
    font-size: 34px;
  }
  .slide-text .desc {
    font-size: 21px;
  }
}


/* [ LG ] * [ desktop ] * [ LG ] * [ desktop ] * [ LG ] * [ desktop ] * [ LG ] */

@media screen and (min-width: 992px) {
  .swiper-button-prev {
    width: 80px
  }
  #contactImageContainer {
    height: 500px;
  }
  #contactImage {
    background: url(../img/home/contactImage.jpg) no-repeat center;
    opacity: .9;
  }
  #contactImage.hover,
  #contactImage:hover {
    opacity: .75;
    transform: scale(.95);
  }
  #contactTickers.hover,
  #contactTickers:hover {
    transform: translateY(-50%) scale(1.05);
  }
}


/* [ XL ] * [ large desktop ] * [ XL ] * [ large desktop ] * [ XL ] */

@media screen and (min-width: 1200px) {
  .hero-imgs {
    width: 1170px;
  }
  .hero-bg {
    max-width: 970px;
  }
  .hero-mock {
    width: 1170px;
    transition-delay: .75s;
  }
  .slide-text {
    opacity: 0;
    transition: all ease .75s .75s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1.05);
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  }
  .swiper-slide-active .slide-text {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  .slide-text .desc {
    color: #fff;
  }
  /*
  .swiper-button-next {
    width: calc((100vw - 1180px) / 2 + 150px)
  }
*/
  .swiper-button-next,
  .swiper-button-prev {
    width: calc((100vw - 1160px) / 2)
  }
  .swiper-button-next img {
    opacity: 1;
    margin-right: calc((100vw - 1180px) / 4) !important;
    left: 0;
    /* allows hover animation */
  }
  .swiper-button-next img:hover {
    left: 4px;
  }
  .swiper-button-prev img {
    margin-left: calc((100vw - 1180px) / 4) !important;
    right: 0;
    /* allows hover animation */
  }
  .swiper-button-prev img:hover {
    right: 4px;
  }
  #skill1 {
    position: relative;
    top: 15px
  }
  #lottieSkill1 {
    position: relative;
    left: 20%;
    top: -90px;
  }
  #lottieSkill2 {
    position: relative;
    right: 20%;
    top: 70px;
  }
  #skill3 {
    position: relative;
    left: 8%;
  }
  #lottieSkill3 {
    position: relative;
    left: 3%;
    top: -120px;
  }
}
